<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Linking external stylesheet for styling -->
    <link rel="stylesheet" href="../static/styles/styles.css">

    <!-- Title of the HTML document -->
    <title>Forgot Password</title>
</head>
<body>
    <!-- Main container for the content -->
    <div class="container">
        <!-- Main title of the page -->
        <h1 class="title">Forgot Password</h1>

        <!-- Form for resetting the password -->
        <form id="forgot-password-form">
            <!-- Input field for the email -->
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <!-- Button to trigger the forgot password action -->
            <button type="button" onclick="submitForgotPassword()">Submit</button>
        </form>

        <!-- Options section with a link to go back to the login page -->
        <div class="options">
            <!-- button to go back to the login page -->
            <button onclick="window.location.href='login.html'">Back to Login</button>
        </div>
    </div>

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include your custom script for handling forgot password actions -->
    <script src="script.js"></script>
</body>
</html>
