<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>View Events</title>
</head>
<body>
    <div class="container">
        <h1 class="title">View Events</h1>

        <div id="search-form">
            <label for="searchCriteria">Search Events:</label>
            <input type="text" id="searchCriteria" name="searchCriteria">
            <!-- No search functionality for now, just the input field -->
        </div>

        <div id="event-list"></div>

        <div class="options">
        </div>

        <!-- Button to navigate back to index.html -->
        <button onclick="window.location.href='index.html'">Back to Home</button>
    </div>

    <script src="script.js"></script>
    <!-- need to make .js code in order to make search functionality-->
</body>
</html>
